* {
  box-sizing: border-box;
  font-family: serif;
}

/* CSS for NavBar */
nav {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

nav a, .headerA {
  text-decoration: none;
  color: inherit;
}

.headerA{
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.headerA svg {
  height: 20px;
}

nav .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

nav .logo svg {
  height: 20px;
}

header {
  display: flex;
  gap: 15px;
}

/* CSS for PostDetais.jsx */
div.post-container {
  display: flex;
  justify-content: center;
}

div.post-page {
  max-width: 960px;
}

div.post-page div.image{
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px ;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: .9rem;
  font-family: 'Lato', sans-serif;
}

div.post-page .author {
  text-align: center;
  display: block;
  margin-bottom: 5px;
  font-size: .9rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

div.post-page div.content p {
  line-height: 1.6rem;
  text-align: justify;
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
}

div.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div.delete-row {
  display: flex;
  justify-content: center;
}

.delete-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  margin-left: 20px;
  margin-bottom: 24px;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.delete-btn:hover,
.delete-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.delete-btn:active {
  background: var(--color);
  color: #fff;
}

.delete-btn svg {
  height: 20px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

.edit-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit-btn:focus-visible,
.edit-btn:hover{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.edit-btn:active {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.edit-btn svg {
  height: 20px;
}
