* {
  box-sizing: border-box;
}

/* CSS for NavBar */
nav {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px;
  align-items: center;
}

nav a, .headerA {
  text-decoration: none;
  color: inherit;
}

nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header {
  display: flex;
  gap: 15px;
}

/* CSS for PostDetais.jsx */
div.post-container {
  display: flex;
  justify-content: center;
}

div.post-page {
  max-width: 960px;
}

div.post-page div.image{
  max-height: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px ;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: .7rem;
}

div.post-page .author {
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.post-page div.content p {
  line-height: 1.6rem;
}

div.delete-row {
  display: flex;
  justify-content: center;
}

.delete-btn {
  width: 150px;
  margin-bottom: 5px;
  padding: 15px 15px;
  background-color: #333;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.delete-btn svg {
  height: 20px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

.edit-btn {
  text-decoration: none;
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.edit-btn svg {
  height: 20px;
}